<div>
    <h1>글 수정</h1>
    <div>
        <form action="{% url 'article:update' article.id %}" method="POST">
            {% csrf_token %}
            <label>
                제목:
                <input type="text" name="title" value="{{ article.title }}" />

            </label>
            <br><br>
            <label>
                내용:
                <textarea name="content" rows="30" cols="30">{{ article.content }}</textarea>
            </label>
            <br><br>
            <input type="submit" value="작성">
        </form>

    </div>
</div>